body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}



header {
    background: #003c8f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

.child1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: white;
}

.child2 h2 {
    margin: 0;
    font-size: 32px;
}

.child3 {
  font-size: 40px;
  margin-top: 10px;
  font-weight: bold;
  color: #ff744a;
  animation: colorChange 5s infinite;
  text-align: center;
}

@keyframes colorChange {
  0%   { color: #7b0267; }
  25%  { color: #006400; }
  50%  { color: #cdde0dd3; }
  75%  { color: #5e60ce; }
  100% { color: #990000; }
}

.child4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    border: 5px solid#ccc
}

.section {
    padding: 30px;
    background: white;
    margin: 0px;
    border-radius: 0px;
 
}


.skills-box {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;
    width:100%;
}

.skill {
    width: 120px;
    background: #0059c9;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    transition: transform 0.3s;
   flex: 1;
}
.skill:hover{
  transform: scale(1.1);
}

.skill span {
    font-size: 12px;
}

.project-box {
    background: #e6e6e6;
    padding: 15px;
    margin: 20px auto;
    border-radius: 8px;
    display:flex;
    flex-direction:column;
     align-items:center;
     width:90%;
     max-width:400px;
     box-shadow:0 0 8px rgba(0,0,0,0.1);

    }
.project-box img{
  width:100%;
  max-width:500px;
  margin:10px 0;
  height:200px;
  border-radius:6px;
  display: block;
  object-fit:cover;
  animation:bgSwap 6s infinite alternate;
 
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background: #003c8f;
    color: white;
    margin-top: 20px;
}
.back-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0b57d0;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
/* phones(up to 500px)/ */
@media (max-width: 500px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 8px 0;
    font-size: 16px;
  }

  .child1 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .child2 h2 {
    font-size: 24px;
  }

  .child3 {
    font-size: 28px;
  }

  .skills-box {
    flex-direction: column;
    gap: 15px;
  }

  .skill {
    width: 80%;   /* full width on mobile/tablet */
  }

  .project-box img {
    height: 150px;
  }

  form {
    width: 90%;
  }
}
/* /Tablets(501 px to 768px)/ */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 8px 0;
    font-size: 16px;
  }

  .child1 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .child2 h2 {
    font-size: 24px;
  }

  .child3 {
    font-size: 28px;
  }

  .skills-box {
    flex-direction: column;
    gap: 15px;
  }

  .skill {
    width: 80%;   /* full width on mobile/tablet */
  }

  .project-box img {
    height: 150px;
  }

  form {
    width: 90%;
  }
}
/* Desktop(769px to 1200px) */
@media (max-width: 1200px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    display: block;
    margin: 8px 0;
    font-size: 16px;
  }

  .child1 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .child2 h2 {
    font-size: 24px;
  }

  .child3 {
    font-size: 28px;
  }

  .skills-box {
    flex-direction: column;
    gap: 15px;
  }

  .skill {
    width: 80%;   /* full width on mobile/tablet */
  }

  .project-box img {
    height: 150px;
  }

  form {
    width: 90%;
  }
}